.menu{
    background-color: #F15C5C;
    font-family: Pacifico, serif;
    margin:0;
    padding: 20px;
}
li{
    padding: 20px;
    display: inline-block
}
a:hover{
    color: #333;
}
a{
    color: white;
    text-decoration: none;
}

