* {
  box-sizing: border-box;
}
.menu {
  background-color: #f15c5c;
  font-family: Pacifico, serif;
  margin: 0;
  padding: 20px;
}
li {
  display: inline-block;
  margin-left: 100px;
}
a:hover {
  color: #333;
}
a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
* {
  margin: 0;
}
ul {
  text-align: center;
}
